/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body{background:#fff;}
.clearfix { *zoom:1;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
i{outline: 0;}
html{
  font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pointerClass{
  cursor: pointer;
}
html,body{
  height: 100%;
}
body{
  /* background: #f5f5f5; */
}

.el-customDiv .el-tag .el-icon-close {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.65);
	right: 0px;
	position: absolute;
	top: 3px;
}
.treeList .el-tree-node__content{
  padding: 4px 0;
}
.el-customDiv {
	min-height: 34px;
	line-height: 34px;
	-webkit-appearance: none;
	background-color: #fff;
	background-image: none;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #606266;
	display: inline-block;
	font-size: inherit;
	outline: 0;
	padding: 0 5px;
	position: relative;
	-webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
	transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
	width: 100%;
}
.el-scrollbar{
	height: 100%;
}
.treeMain .el-scrollbar__wrap{
	overflow-x:hidden;
}

.addSettingForm .addForm .el-form-item__content{
    text-align: left;
}
::-webkit-inner-spin-button{
   -webkit-appearance: none !important;
	margin: 0;
	-moz-appearance: textfield;
 }
[type="number"] {

	-moz-appearance: textfield;
}
.el-table__header{
  width: 100% !important;
}
.el-table__body{
  width: 100% !important;
}

.el-table td{
  background-color: #FAFAFA;
  box-shadow: 0px -2px 0px #fff inset;
 }

.el-table th{
  background: #eef1f6;
  font-weight: bold;
  color: #000;
  line-height: 34px;
  padding: 0;
}
.el-table td, .el-table th.is-leaf {
  border-right: 2px solid white;
}

.tagSelect .selectDiv{
  padding-top: 6px;
}
.el-customDiv{
  line-height: 23px;
}
