/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body{background:#f5f5f5;}
.clearfix { *zoom:1;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
i{outline: 0;}
html{
  font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
.fz12{
  font-size: 12px;
}
.noContent{
  text-align: center;
  color: #aaa;
  font-size: 14px;
}
.cpointer{
  cursor: pointer;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}


::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.6);
  background-color: #fff6;
}


.fz12{
  font-size: 12px;
}
/*tab 标签页 */
#tab-mainPage .el-icon-close{
  display: none;
}
#tab-mainPage{
  padding-right: 20px !important;
  padding-left: 16px !important;
}
.el-tabs__nav-wrap:not(.is-scrollable) {
  padding: 0 0px;
}
.el-tabs--border-card{
  border: 1px solid #e8e8e8;
  border-top:0px solid #e8e8e8;
  border-left: none;
  border-right: none;

}
.tab .el-tabs--border-card>.el-tabs__content{
    padding: 0;
    position: absolute;
    top:34px;
    left: 0;
    right: 0;
    bottom: 0;
}
.el-tabs__nav-wrap {
  margin-bottom: 0px;
}
.el-submenu__title i{
  color:#fff;
}

.el-tabs--border-card>.el-tabs__header{
    background-color: #fff;
    /* background-color: #161e3a; */
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):not(.is-active):hover {
  color:#2196f3;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled).is-active:hover {
  color:#2196f3;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item{
  border: 1px solid #e9eaec;
  color: #495060;
  background: #e1e1e1;
  margin:0px 0px 0px 0px;
  padding: 0 20px 0 16px !important;
  border-radius:0px;
  line-height: 32px;
  height:32px;
  border-radius: 0px;
  border:none;
  background: #fff;
  transition:all 0s cubic-bezier(.645,.045,.355,1);
  /* background-color: rgb(21,30,57); */
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item {
  color:#0e152c;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
  /* background-color: rgb(231,232,236); */
  color:#2196f3;
  border-bottom:1px solid #2196f3;
}

.el-tabs__nav-next, .el-tabs__nav-prev{
  line-height: 32px;
}


[class*=custom-] .is-scrollable .el-tabs__nav-next, [class*=custom-] .is-scrollable .el-tabs__nav-prev{
    line-height: 30px;
}
.el-tabs__item .el-icon-close:hover {
  background-color: transparent;
  color: inherit;
}
.el-tabs__item .el-icon-close {
  margin-left: 8px;
}
[class*=custom-] .main .tab .el-tabs--border-card>.el-tabs__content {
  top: 35px;
}
[class*=custom-] .tab .el-tabs--border-card>.el-tabs__header .el-tabs__item{
  margin: 0px 2px;
}
/*下拉框样式覆盖*/
.e9-dropdown{
  padding:16px 0px;
  box-shadow: none;
  border: 1px solid #e8e8e8;
  border-radius: 0px;
}
.e9-dropdown .el-dropdown-menu__item{
  color:#262626;
  font-size: 12px;
  line-height: 32px;
  padding: 0 24px;
}
.e9-dropdown .el-dropdown-menu__item:focus,.e9-dropdown .el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #fafafa;
  color:#262626;
}
.e9-dropdown .popper__arrow{
  opacity: 0;
}

/* 菜单覆盖 */
.header-menu .el-menu-item.levelMenu1,.header-menu .levelMenu1 .el-submenu__title{
  height: 40px;
  line-height: 40px;
  padding: 0px;
  margin-right: 30px;
  font-size: 12px;
  color: #262626;
}
.header-menu .levelMenu1 .icon{
  font-size: 16px;
  color: #262626;
  margin-right: 10px;
}
/* .header-menu .levelMenu1 .el-submenu__icon-arrow{
  color: #262626;
} */
.el-menu--horizontal{
  border-bottom: none;
}
.el-menu.el-menu--popup{
  background-color: #fff;
  box-shadow: none;
  padding: 16px 0px;
  border: 1px solid #e8e8e8;
  border-radius: 0px;
}
.el-menu--popup .el-menu-item,.el-menu--popup .el-submenu__title{
  color: #262626;
  font-size: 12px;
  line-height: 32px;
  padding: 0 24px;
}
.el-menu--popup .el-menu-item:focus, .el-menu--popup .el-menu-item:not(.is-disabled):hover {
  background-color: #fafafa;
  color: #262626;
}
.el-menu--popup .el-submenu__title:focus, .el-menu--popup .el-submenu__title:not(.is-disabled):hover {
  background-color: #fafafa;
  color: #262626;
}
.el-menu--horizontal>.el-submenu.levelMenu1 .el-submenu__icon-arrow{
  display: none;
}
.el-menu--horizontal .el-submenu__title i {
  color: #262626;
}
.el-menu--horizontal>.el-menu-item.is-active ,.el-menu--horizontal>.el-menu-item{
  border-bottom-width: 0px;
  color: #262626;
}

.el-menu {
  border-right: none;
  background-color: transparent;
}
.el-menu-vertical{
  margin-top: 10px;
}
[class*=custom-] .aside .el-menu-vertical>li {
  margin-bottom: 0px
}
.el-menu-vertical .el-menu-item i{
  color: #fff;
}
.el-menu-vertical .levelMenu1 .el-menu-item-group__title{
  height: 30px;
  line-height: 30px;
  padding: 0px;
  padding-left: 20px !important;
  color: #fff;
  font-size: 12px;
}
.el-menu-vertical .levelMenu1 .el-submenu__title,.el-menu-vertical .el-menu-item.levelMenu1{
  padding-left: 20px !important;
  color: #fff;
  font-size: 12px;
  height: 42px;
  line-height: 42px;
}

.el-menu-vertical .levelMenu1 .el-submenu__title .menuImg ,.el-menu-vertical .el-menu-item.levelMenu1 .menuImg {
  margin-left: 10px;
}
.el-menu-vertical .levelMenu1 .el-submenu__title span ,.el-menu-vertical .el-menu-item.levelMenu1 span {
  font-size: 12px;
}
.el-menu-vertical .levelMenu1 .el-submenu__title:hover,
.el-menu-vertical .el-menu-item.levelMenu1:hover,
.el-menu-vertical .el-menu-item.levelMenu1.is-active,
.el-menu-vertical .levelMenu1 .el-submenu__title:hover i,
.el-menu-vertical .el-menu-item.levelMenu1:hover i,
.el-menu-vertical .el-menu-item.levelMenu1.is-active i{

  color:rgb(169,177,196);
}
.el-menu-vertical .levelMenu2 .el-submenu__title,.el-menu-vertical .el-menu-item.levelMenu2{
  padding-left: 60px !important;
  color: #fff;
  font-size: 12px;
  height: 42px;
  line-height: 42px;
}
[class*=custom-] .aside .el-menu-vertical .levelMenu2 .el-submenu__title,[class*=custom-] .aside .el-menu-vertical .el-menu-item.levelMenu2{
  padding-left: 56px !important;
}
[class*=custom-] .aside .el-menu-vertical .levelMenu2 .el-submenu__title,[class*=custom-] .aside .el-menu-vertical .el-menu-item.levelMenu2{
  height: 42px;
  line-height: 42px;
}

.el-menu-vertical .levelMenu2 .el-submenu__title .menuImg ,.el-menu-vertical .el-menu-item.levelMenu2 .menuImg {
  margin-left: 20px;
}
.el-menu-vertical .levelMenu2 .el-submenu__title span ,.el-menu-vertical .el-menu-item.levelMenu2 span {
  font-size: 12px;
}
.el-menu-vertical .levelMenu2 .el-submenu__title:hover,
.el-menu-vertical .el-menu-item.levelMenu2:hover,
.el-menu-vertical .el-menu-item.levelMenu2.is-active,
.el-menu-vertical .levelMenu2 .el-submenu__title:hover i,
.el-menu-vertical .el-menu-item.levelMenu2:hover i,
.el-menu-vertical .el-menu-item.levelMenu2.is-active i{
  color:rgb(169,177,196);
}

.el-menu-vertical .levelMenu3 .el-submenu__title,.el-menu-vertical .el-menu-item.levelMenu3{
  padding-left: 60px !important;
  color: #fff;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
}

[class*=custom-] .aside .el-menu-vertical .levelMenu3 .el-submenu__title,[class*=custom-] .aside .el-menu-vertical .el-menu-item.levelMenu3{
  padding-left: 56px !important;
}

.el-menu-vertical .levelMenu3 .el-submenu__title, .el-menu-vertical .el-menu-item.levelMenu3{
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}

.el-menu-vertical .levelMenu3 .el-submenu__title span,.el-menu-vertical .el-menu-item.levelMenu3 span{
  margin-left: 20px;
  font-size: 14px;
}
.el-menu-vertical .levelMenu3 .el-submenu__title:hover,
.el-menu-vertical .el-menu-item.levelMenu3:hover,
.el-menu-vertical .el-menu-item.levelMenu3.is-active,
.el-menu-vertical .levelMenu3 .el-submenu__title:hover i,
.el-menu-vertical .el-menu-item.levelMenu3:hover i,
.el-menu-vertical .el-menu-item.levelMenu3.is-active i{
  color:rgb(169,177,196);
}
.el-menu-vertical .levelMenu4 .el-submenu__title,.el-menu-vertical .el-menu-item.levelMenu4{
  padding-left: 80px !important;
  color: #fff;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
}

[class*=custom-] .aside .el-menu-vertical .levelMenu4 .el-submenu__title,[class*=custom-] .aside .el-menu-vertical .el-menu-item.levelMenu4{
  padding-left: 76px !important;
}

.el-menu-vertical .levelMenu4 .el-submenu__title span,.el-menu-vertical .el-menu-item.levelMenu4 span{
  margin-left: 20px;
  font-size: 12px;
}
.el-menu-vertical .levelMenu4 .el-submenu__title:hover,
.el-menu-vertical .el-menu-item.levelMenu4:hover,
.el-menu-vertical .el-menu-item.levelMenu4.is-active,
.el-menu-vertical .levelMenu4 .el-submenu__title:hover i,
.el-menu-vertical .el-menu-item.levelMenu4:hover i,
.el-menu-vertical .el-menu-item.levelMenu4.is-active i{
  color: rgb(169,177,196);
}




.el-menu-vertical .levelMenu5 .el-submenu__title,.el-menu-vertical .el-menu-item.levelMenu5{
  padding-left: 100px !important;
  color: #fff;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
}

[class*=custom-] .aside .el-menu-vertical .levelMenu5 .el-submenu__title,[class*=custom-] .aside .el-menu-vertical .el-menu-item.levelMenu5{
  padding-left: 96px !important;
}

.el-menu-vertical .levelMenu5 .el-submenu__title span,.el-menu-vertical .el-menu-item.levelMenu5 span{
  margin-left: 20px;
  font-size: 12px;
}
.el-menu-vertical .levelMenu5 .el-submenu__title:hover,
.el-menu-vertical .el-menu-item.levelMenu5:hover,
.el-menu-vertical .el-menu-item.levelMenu5.is-active,
.el-menu-vertical .levelMenu5 .el-submenu__title:hover i,
.el-menu-vertical .el-menu-item.levelMenu5:hover i,
.el-menu-vertical .el-menu-item.levelMenu5.is-active i{
  color:rgb(169,177,196);
}

.el-menu-vertical .el-menu-item.levelMenu5.is-active,
.el-menu-vertical .el-menu-item.levelMenu4.is-active,
.el-menu-vertical .el-menu-item.levelMenu2.is-active,
.el-menu-vertical .el-menu-item.levelMenu3.is-active,
.el-menu-vertical .el-menu-item.levelMenu1.is-active{
  background-color: #485163;
}
.el-menu-vertical .el-submenu__title:focus{
  background-color: transparent;
  color: #fff;
}
.el-menu-vertical .el-submenu__title:hover{
  background-color: rgb(55,66,90);
}
.el-menu-vertical .el-menu-item:focus{
  background-color: transparent;
  color: #fff;
}
.el-menu-vertical .el-menu-item:hover{
  background-color: rgb(55,66,90);
}
/* card 覆盖*/

.el-card {
  border-radius: 0px;
  border:none;
  color: #262626;
  margin-bottom: 12px;
}
.e9-card .header{
  position: relative;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
}
.e9-card .header .title{
  font-size: 12px;
  color: #000;
  font-weight: bold;
  margin-right: 20px;
}
.e9-card .header .el-icon-more{
  position: absolute;
  right: 12px;
  font-size:16px;
  color:#bebebe;
  top: 21px;
  margin: -8px;
  cursor: pointer;
}
.e9-card .card-nav,.e9-card .card-nav li{
  padding: 2px 0;
  display: inline;
  font-size: 12px;
  color: #bebebe;
}
.e9-card .card-nav li:hover,.e9-card .card-nav li.active{
  background-color: none;
  color: #1ba5fa;
}
.e9-card .card-nav li{
  margin-right: 20px;
  cursor: pointer;
}
.e9-card .el-icon-arrow-down{
  font-size: 18px;
  color: #bebebe;
}
.e9-mlist{
  margin-top:10px;
}
.e9-mitem{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.e9-mitem-left{
  margin-right: 16px;
}
.e9-mitem-main{
  flex: 1;
  min-width: 0;
  overflow: hidden;
}
.e9-mitem-time{
  line-height: 20px;
  text-align: right;
  width: 80px;
  font-size: 12px;
  color: #bebebe;
}
/* 右侧区块 */
.e9-block{
  padding: 20px 20px 0;
}
.e9-block .title{
  position: relative;
  padding-left: 16px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #262626;
  /* font-weight: bold; */
  line-height: 16px;
  vertical-align: middle;
  border-left: 2px solid #1ba5fa;
}
.e9-block .title .el-icon-more{
  position: absolute;
  right: 0;
  font-size:16px;
  color:#bebebe;
  top: -2px;
  cursor: pointer;
}
.e9-block .wrap{
  background-color: #fafafa;
}
.themeB{
  background-color: #1ba5fa;
}
.colorB{
  color: #1ba5fa;
}
.h-badge{
  top: -1.5px;
}
.h-badge .el-badge__content{
  top: 10px;
  right: 24px;
}


.aside{
  /* background-image: linear-gradient(to bottom,#2a3542 0%, #2a3542 100%); */
}

.weather-box{
  background-image: linear-gradient(to bottom,#1ba5fa 0%, #1bcdfa 100%);
}
.calendar-body li.choosed div{
  background-color:#1ba5fa !important;
  color:#fff;
}
/* [class*=custom-] .el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: #fff;
} */


.el-message-box.exitbox{
  width: 210px;
  height: 110px;
}


.custom-1ba5fa .hideMsgBtn{display:none}
.custom-0acab8 .hideMsgBtn{display:none}
.custom-e76f6f .hideMsgBtn{display:none}

.el-dialog__body,.custom-1ba5fa .el-dialog__body , .custom-0acab .el-dialog__body , .custom-e76f6f .el-dialog__body{
    padding: 5px 20px 10px 20px;
}


.custom-1ba5fa .showMsgBtn{  display: inline;}
.custom-0acab8 .showMsgBtn{  display: inline;}
.custom-e76f6f .showMsgBtn{  display: inline;}
.time-c-popper .el-picker-panel__body .el-picker-panel__content{
  width: 200px;
}
[class*=custom-] .el-date-picker.time-c-popper {
  width: 230px;
  margin-right: 50px;
}
[class*=custom-] .el-date-picker .el-month-table td,[class*=custom-] .el-date-picker .el-year-table td{
  padding: 10px 3px;
}
[class*=custom-] .el-date-picker__header--bordered {
  padding-bottom: 6px;
  margin-top: 6px;
}


.custom-1ba5fa .el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color:#1ba5fa;
}
.custom-0acab8 .el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color:#0acab8;
}
.custom-e76f6f .el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color:#e76f6f;
}
[class*=custom-] .el-tabs .el-tabs__item:nth-child(1) span.el-icon-close::before{
  display: none;
}

[class*=custom-] .el-carousel__button{
  width: 16px;
}
/* [class*=custom-] .el-carousel__indicator {
  background-color: rgba(0,0,0,0.3);
} */
@media screen and (min-width: 768px){
  .aside .el-menu-vertical .levelMenu1 .el-submenu__title span,
  .aside .el-menu-vertical .el-menu-item.levelMenu1 span,
  .aside .el-menu-vertical .levelMenu2 .el-submenu__title span,
  .aside .el-menu-vertical .el-menu-item.levelMenu2 span,
  .aside .el-menu-vertical .levelMenu3 .el-submenu__title span,
  .aside .el-menu-vertical .el-menu-item.levelMenu3 span,
  .aside .el-menu-vertical .levelMenu4 .el-submenu__title span,
  .aside .el-menu-vertical .el-menu-item.levelMenu4 span{
    font-size: 12px;
  }
}
@media screen and (min-width: 1400px){
  .aside .el-menu-vertical .levelMenu1 .el-submenu__title span,
  .aside .el-menu-vertical .el-menu-item.levelMenu1 span,
  .aside .el-menu-vertical .levelMenu2 .el-submenu__title span,
  .aside .el-menu-vertical .el-menu-item.levelMenu2 span,
  .aside .el-menu-vertical .levelMenu3 .el-submenu__title span,
  .aside .el-menu-vertical .el-menu-item.levelMenu3 span,
  .aside .el-menu-vertical .levelMenu4 .el-submenu__title span,
  .aside .el-menu-vertical .el-menu-item.levelMenu4 span{
    font-size: 14px;
  }
}


.el-tabs--border-card>.el-tabs__header .el-tabs__item:first-child .el-icon-close{
  display: none;
}



/* web网页形式 */
.webRootVue .tab .el-tabs--border-card>.el-tabs__content{
    padding: 0;
    position: absolute;
    top:0px;
    left: 0;
    right: 0;
    bottom: 0;
}

.webRootVue .webContent{
  width:1250px;
  margin:auto;
  padding:20px 0px;
}

.eco-tool-title{
	border-color: #003b90 !important;
}
.el-button--text{
	color:#003b90 !important;
}
.el-button--primary {
	background-color:#003b90 !important;
	border-color: #003b90 !important;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus{
	border-color: #003b90 !important;
}



.projectProTable.el-table th.is-leaf {
	background-color: #1E4E79;
	color: #fff;
  font-size: 14px;
}
/* .projectProTable.el-table .has-gutter>tr{
	background-color: #D2DEEF;
} */
/* .projectProTable.el-table th.gutter{
	background-color: #f5f5f5;
} */
.projectProTable.el-table--striped tr{
  background: #D2DEEF;
  font-size: 14px;
  color: #000;
}
.projectProTable.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #EAEFF7;
  font-size: 14px;
  color: #000;
}
.projectProTable.el-table--enable-row-hover .el-table__body tr:hover>td{
  background: #F3F7FD;
}
.projectProTable.el-table--border td, .projectProTable.el-table--border th,.projectProTable .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right: 1px solid #000000;
}

.projectProTable.el-table td, .projectProTable.el-table th.is-leaf {
  border-bottom: 1px solid #000000;
}
.projectProTable.el-table--border {
  border: 1px solid #000000;
}
.projectProTable.el-table  .el-table__body  tr td.green{
  background: #92D050;
}


.ecoHeader .el-menu--horizontal>.el-submenu.is-active .el-submenu__title{
  border-bottom:0px solid #409EFF ;
}

.ecoHeader .el-menu--horizontal>.el-submenu .el-submenu__title{
  color:#303133;
}

/* .ecoHeader .el-menu-horizontal .el-menu-item.levelMenu5.is-active,
.ecoHeader .el-menu-horizontal .el-menu-item.levelMenu4.is-active,
.ecoHeader .el-menu-horizontal .el-menu-item.levelMenu2.is-active,
.ecoHeader .el-menu-horizontal .el-menu-item.levelMenu3.is-active,
.ecoHeader .el-menu-horizontal .el-menu-item.levelMenu1.is-active{
  background-color: #485163;
}
.ecoHeader .el-menu-horizontal .el-submenu__title:focus{
  background-color: transparent;
  color: #fff;
}
.ecoHeader .el-menu-horizontal .el-submenu__title:hover{
  background-color: rgb(55,66,90);
}
.ecoHeader .el-menu-horizontal .el-menu-item:focus{
  background-color: transparent;
  color: #fff;
}
.ecoHeader .el-menu-horizontal .el-menu-item:hover{
  background-color: rgb(55,66,90);
} */

.el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal>.el-submenu .el-submenu__title:hover{
  background-color:transparent;
}
.el-dialog.is-fullscreen .el-dialog__header{
  padding: 10px;
}
.el-dialog.is-fullscreen .el-dialog__headerbtn{
  top: 4px;
  right: 4px;
}
.el-dialog.is-fullscreen .el-dialog__body{
  padding: 10px 5px;
}
.el-dialog.is-fullscreen .el-dialog__headerbtn .el-dialog__close{
  color: #000;
  font-size: 22px;
}
.ecoDialog.is-fullscreen .el-dialog__header{
  padding: 0;
}
.ecoDialog.is-fullscreen .el-dialog__body{
  padding: 0;
  height: 100%;
}
.el-menu--horizontal>.el-submenu .el-submenu__title {
  height: 48px ;
  line-height: 48px ;
}
