/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body{background:#fff;}
.clearfix { *zoom:1;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
i{outline: 0;}
html{
  font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.kn-header {
  position: absolute;
  left:0;
  right:0;
  top:0;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  z-index: 1;
  background-color: #eee;
  user-select: none;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.kn-header .eco-action-btn:first-child>.eco-btn-split{
 border-left:none !important;
}
.kn-aside{
  position: absolute;
  top: 30px;
  left: 0;
  width: 260px;
  bottom: 0;
  background-color:#fff;
  overflow:scroll;
  overflow-x: hidden;
}
.kn-main{
  position: absolute;
  top: 30px;
  left: 240px;
  bottom: 0px;
  right:0;
  background-color: #f7f7f7;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
}
.page-main{
  position: absolute;
  top: 30px;
  left: 0px;
  bottom: 0px;
  right:0;
  overflow: auto;
  padding: 10px 20px;
}
.display-input{
  background-color: #FFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  min-height: 34px;
  line-height: 32px;
  outline: 0;
  padding: 0 15px;
  width: 100%;
  vertical-align: top;
}
.display-input .el-tag{
  margin-right: 4px;
}
.el-table th.is-leaf {
	background-color: #f5f5f5;
	color: #595959;
	font-size: 14px;
	line-height: 14px;
	height: 50px;
}
.fl-right{
   float: right;
}
.fl-left{
   float: left;
}
.el-table .gutter{
	background-color: #f5f5f5;
}
.el-customDiv {
	min-height: 34px;
	line-height: 34px;
	-webkit-appearance: none;
	background-color: #fff;
	background-image: none;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #606266;
	display: inline-block;
	font-size: inherit;
	outline: 0;
	padding: 0 5px;
	position: relative;
	-webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
	transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
	width: 100%;
}
/* .el-customDiv{
  line-height: px;
} */

.el-customDiv .el-tag .el-icon-close {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.65);
	right: 0px;
	position: absolute;
	top: 3px;
}
.treeList .el-tree-node__content{
  padding: 4px 0;
}



.layoutOutDiv{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  overflow: auto;
}

.layoutInnerAbsoluteDiv{
  position: absolute;
  left: 24px;
  right: 24px;
  top: 2%;
  bottom: 2%;
  background-color: #fff;
}

.layoutInnerDiv{
  margin:20px;
  background-color: #fff;
}

.flowlist.el-table th.is-leaf {
	background-color: #f5f5f5;
	color: #595959;
	font-size: 14px;
	line-height: 14px;
	height: 50px;
}
.flowlist.el-table .has-gutter>tr{
	background-color: #f5f5f5;
}
.flowlist.el-table th.gutter{
	background-color: #f5f5f5;
}
.flowlist.el-table td,.flowlist.el-table th{
	font-size:14px;
}

.flowlist.boldThClass.el-table th {
  font-weight: bold;
}

.flowlist.el-table thead.is-group th{
  color:#595959;
}

.el-date-table td {
	padding: 1px 0px !important;
}

.el-date-table td span {
	width: 16px !important;
	height: 16px !important;
	line-height: 16px !important;
}

.el-date-table td,
.el-date-table td div {
	width: 20px !important;
}

.el-date-picker .el-picker-panel__content {
	width: 242px !important;
}

.el-date-picker__header {
	margin: 5px !important;
}

.el-picker-panel__content {
	margin: 5px !important;
}

.el-date-picker {
	width: 252px !important;
}

.meetingAdd .meetingAddExtendTable .el-input__inner{
    border:0px solid #DCDFE6;
}

/* 事件颜色 */
.color-1{
  background: #e3fcd2;
  z-index: 200
}
.color-1 .top-clu{
  width: 4px;
  height: 4px;
  background: #64ae3c
}
.color-2{
  background: #fff5e9;
  z-index: 200
}
.color-2 .top-clu{
  width: 4px;
  height: 4px;
  background: #e89f35
}
.color-3{
  background: #e0f4ff;z-index: 200
}
.color-3 .top-clu{
  width: 4px;
  height: 4px;
  background: #59a9e4
}
.color-4{
  background: #fff3f2;z-index: 200
}
.color-4 .top-clu{
  width: 4px;
  height: 4px;
  background: #ee545b
}
.color-5{
  background: #EEEED1;z-index: 200
}
.color-5 .top-clu{
  width: 4px;
  height: 4px;
  background: #EEDFCC;
}
.color-6{
  background: #FAFAD2;z-index: 200
}
.color-6 .top-clu{
  width: 4px;
  height: 4px;
  background: #EEE685
}
.color-7{
  background: #FFEBCD;z-index: 200
}
.color-7 .top-clu{
  width: 4px;
  height: 4px;
  background: #FFC125
}
