/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body{background:#fff;}
.clearfix { *zoom:1;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
i{outline: 0;}
html{
  font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pointerClass{
  cursor: pointer;
}
html,body{
  height: 100%;
}
body{
  background: #f5f5f5;
}

.el-customDiv .el-tag .el-icon-close {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.65);
	right: 0px;
	position: absolute;
	top: 3px;
}
.treeList .el-tree-node__content{
  padding: 4px 0;
}
.el-customDiv {
	min-height: 34px;
	line-height: 34px;
	-webkit-appearance: none;
	background-color: #fff;
	background-image: none;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #606266;
	display: inline-block;
	font-size: inherit;
	outline: 0;
	padding: 0 5px;
	position: relative;
	-webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
	transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
	width: 100%;
}
.el-scrollbar{
	height: 100%;
}
.treeMain .el-scrollbar__wrap{
	overflow-x:hidden;
}
/*待办流程(列表页面)*/
.ecoList.el-table{
	min-width: 1081px;
}
.ecoList.el-table th.is-leaf {
	background-color: #f5f5f5;
	color: #0f1419;
	font-size: 14px;
	line-height: 14px;
	height: 50px;
}
.ecoList.el-table .has-gutter>tr{
	background-color: #f5f5f5;
}
.ecoList.el-table th.gutter{
	background-color: #f5f5f5;
}
.ecoList.el-table td,.ecoList.el-table th{
	font-size:14px;
}
.eco-tool-title{
	border-color: #003b90 !important;
}
.el-button--text{
	color:#003b90 !important;
}
.el-button--primary {
	background-color:#003b90 !important;
	border-color: #003b90 !important;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus{
	border-color: #003b90 !important;
}
.el-form-item__label{
	color:#0f1419 !important;
}
.el-input__inner{
	color:#0f1419;
}
.el-input__inner::placeholder {
	color: #ccc;
}
 /* 谷歌 */
.el-input__inner::-webkit-input-placeholder {
	color: #ccc;
}
 /* 火狐 */
.el-input__inner:-moz-placeholder {
	color: #ccc;
}
 /*ie*/
.el-input__inner:-ms-input-placeholder {
	color: #ccc;
}
.addSettingForm .addForm .el-form-item__content{
    text-align: left;
}
::-webkit-inner-spin-button{
   -webkit-appearance: none !important;
	margin: 0;
	-moz-appearance: textfield;
 }
[type="number"] {

	-moz-appearance: textfield;
}
.dealCol span:not(:last-child):after{
	content: " ";
	border-right: 1px solid #ddd;
	margin: 0 10px 0 5px;
}
.primaryColor{
	color:#003b90
}
.redColor{
	color:#F56C6C;
}
.el-input.is-disabled.week .el-input__inner{
    background-color: #212b48;
}
.searchBox{
    font-size: 14px;
    padding: 0px 20px;
    line-height: 50px;
    background-color: #f5f5f5 ;
    border-bottom: 1px solid #ddd;
    min-height:51px;
}
.searchBox .state{
    display: inline-block;
    min-width: 160px;
    margin-right: 10px;
}
.searchBox .itemInput{
    display: inline-block;
    min-width: 200px;
    margin-right: 10px;
}
.table-header{
	color:#fff;
	font-size: 16px;
	font-weight: bold;
}
.el-table .table-header th{
	background-color: #003b90;
}
.el-table .is-summary td{
	background-color: #f5f7fa;
	color: #606266;
}
.workHours-view .el-table  .el-table__body-wrapper {
    height: calc(100% - 55px) !important;
  }
	.mainBody .item .el-collapse-item__header{
		color: #333;
		font-size: 16px;
	}
