/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body{background:#fff;}
.clearfix { *zoom:1;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
i{outline: 0;}
html{
  font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.kn-header {
  position: absolute;
  left:0;
  right:0;
  top:0;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  z-index: 1;
  background-color: #eee;
  user-select: none;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.kn-header .eco-action-btn:first-child>.eco-btn-split{
 border-left:none !important;
}


/*待办流程(列表页面)*/
.styleTableDefault.el-table{
	 
}
.styleTableDefault.el-table th.is-leaf {
	background-color: #f5f5f5;
	color: #595959;
	font-size: 14px;
	line-height: 14px;
	height: 50px;
}
.styleTableDefault.el-table .has-gutter>tr{
	background-color: #f5f5f5;
}
.styleTableDefault.el-table th.gutter{
	background-color: #f5f5f5;
}
.styleTableDefault.el-table td,.styleTableDefault.el-table th{
	font-size:14px;
}
.styleTableDefault .split{
  border-right: 1px solid #ddd;
  margin: 0 10px 0 5px;
}

.pointerClass{
  cursor: pointer;
}

.tlr{
  text-align: right;
}