/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body{background:#fff;}
.clearfix { *zoom:1;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
i{outline: 0;}
html{
  user-select: none;
  font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cursorP{
  cursor: pointer;
}
.linkB{
   color:#409EFF;
}
.componentPage .pageHeader{
     position: relative;
     height:40px;
     border-bottom:1px solid #DCDFE6;
     display: flex;
}
.componentPage .pageHeaderBtn{
  font-size: 17px;
  font-weight: 600;
  color:#999;
  box-sizing: border-box;
}
.componentPage .pageHeaderBtn+.pageHeaderBtn{
  margin-left: 10px;
}
.componentPage .pageHeaderBtn.active{
  color:#303133;
  border-bottom:3px solid #409EFF;
}
.componentPage .pageHeaderBtn.active>span,
.componentPage .more{
  color:#409EFF;
}
.componentPage .more{
  position: absolute;
  right:0px;
  cursor: pointer;
  top:50%;
  transform: translateY(-70%);
}
.marginR5{
  margin-right:5px;
}
.fontWeight{
  font-weight: 700;
}
.toDoTable.el-table  .tableHeader th {
  background: #409EFF;
  height: 30px;
  color: #fff;
}
.toDoTable.el-table::before{
  content: '';
  display: none;
}
.toDoTable .cell span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}


::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.6);
  background-color: #fff6;
}
.marginTop2{
  margin-top:20px;
}
.marginLeft6{
  margin-left:60px;
}
.footerPage input::-webkit-input-placeholder{
  color:#fff !important;
}
.footerPage input:-moz-placeholder{
  color:#fff !important;
}
.footerPage input:-ms-input-placeholder{
  color:#fff !important;
}

.footerPage input:-o-input-placeholder{
  color:#fff !important;
}

.el-message-box.exitbox{
  width: 210px;
  height: 110px;
}
@media screen and (max-width: 1366px) {
  .portalIndex .padding2{
    padding: 0 50px !important;
  }
  .standardPortalIndex .menuBox{
    left:50px !important;
    right:50px !important; 
  }
  .portalHeader .portalHeader-logo{
    left:50px !important;
  }
}
@media screen and (max-width: 992px) {
   .page3Mar.marginLeft6{
      margin:20px 0px 0px;
   }
}
