/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body{background:#fff;font-size:12px;}
.clearfix { *zoom:1;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
i{outline: 0;}
html{
  font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pointerClass{
  cursor: pointer;
}
html,body{
  height: 100%;
}
body{
  /* background: #f5f5f5; */
}

.el-customDiv .el-tag .el-icon-close {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.65);
	right: 0px;
	position: absolute;
	top: 3px;
}
.treeList .el-tree-node__content{
  padding: 4px 0;
}
.el-customDiv {
	min-height: 34px;
	line-height: 34px;
	-webkit-appearance: none;
	background-color: #fff;
	background-image: none;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #606266;
	display: inline-block;
	font-size: inherit;
	outline: 0;
	padding: 0 5px;
	position: relative;
	-webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
	transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
	width: 100%;
}
.el-scrollbar{
	height: 100%;
}
.treeMain .el-scrollbar__wrap{
	overflow-x:hidden;
}

.addSettingForm .addForm .el-form-item__content{
    text-align: left;
}
::-webkit-inner-spin-button{
   -webkit-appearance: none !important;
	margin: 0;
	-moz-appearance: textfield;
 }
[type="number"] {

	-moz-appearance: textfield;
}
.el-table__header{
  width: 100% !important;
}
.el-table__body{
  width: 100% !important;
}



.tagSelect .selectDiv{
  padding: 4px;
  padding-left: 8px;
}
.el-customDiv{
  line-height: 23px;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: #fff;
}

 .el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color:#1ba5fa;
}
.tagSelect .el-customDiv{
  min-height: 28px ;
  line-height: 22px ;
}

.ecoContentCalss .card-nav,.ecoContentCalss .card-nav li{
  padding: 2px 0;
  display: inline;
  font-size: 12px;
  color: #bebebe;
}

.ecoContentCalssd .card-nav li:hover,.ecoContentCalss .card-nav li.active{
  background-color: none;
}

.ecoContentCalssd .card-nav li:hover,.ecoContentCalss .card-nav li.active{
  color: #1ba5fa;
  border-bottom:1px solid #1ba5fa;
}

.ecoContentCalss .card-nav li{
  margin-right: 20px;
  cursor: pointer;
}

.top-bottom{
  position: fixed;
  bottom: 0;
  z-index: 887;
  background: #fff;
}
.page-notice{
  float: right;
}
.clearfix:after{
  content:"";
  height:0;
  line-height:0;
  display:block;
  visibility:hidden;
  clear:both
}

.clearfix{
  zoom:1;
}
.top-main{
  margin-top: 10px;
  margin-bottom: 10px;
}
.toolbar {
  background: #f5f5f5;
  padding: 10px;
  margin: 10px 0;
}

.ecoContentClass .el-table__fixed-header-wrapper thead div, .el-table__header-wrapper thead div {
  color: #1f2d3d;
  background-color: #f5f5f5;
}
.ecoContentClass .el-table th {
  background-color: #f5f5f5;
}
.el-table--medium td, .el-table--medium th{
  padding: 6px 0;
}
.cursorPoint{
  cursor: pointer;
}
.addContent .el-form-item__label{
  font-size: 12px;
}

.addContent{
  margin:10px;
}

.addContent .el-textarea__inner{
  font-size: 12px;
}
.firstSearch{
  width: 180px;
}
.twoBtn , .firstSearch{
  display: inline-block; margin-right: 5px;
}
.f12 {
  font-size: 12px;
}
.ecoContentClass .el-table{
  font-size: 12px;
}
