/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
/* li{list-style:none;} */
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
/* body{background:#fff;} */
.clearfix { *zoom:1;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;font-size:0;}
i{outline: 0;}
.cpoint{
  cursor: pointer;
}
.bgTheme{
  background-color: #5373C8;
}
.colorTheme{
  color: #5373C8;
}
.hTextTheme:hover{
  color: #5373C8;
}
html{
  font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  background-color: #EFF0F4;
  font-size: 14px;
}
body .container{
  min-width: 960px;
  background-color: #EFF0F4;
}
body .page-content.layout{
  background-color: unset;
  background-color: transparent;
  overflow: visible;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis2{
  overflow : hidden;
  text-overflow: ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.kn-header {
  position: absolute;
  left:0;
  right:0;
  top:0;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  z-index: 1;
  background-color: #eee;
  user-select: none;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.kn-header .eco-action-btn:first-child>.eco-btn-split{
 border-left:none !important;
}

.display-input{
  background-color: #FFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 29px;
  line-height: 28px;
  outline: 0;
  padding: 0 15px;
  width: 100%;
  vertical-align: top;
}
.display-input .el-tag{
  margin-right: 4px;
}

.serviceTab .el-tabs__nav-scroll{
  text-align: center;
}
.serviceTab .el-tabs__nav{
  float: none;
  display: inline-block;
}
.serviceTab{
  height: 48px;
  overflow: hidden;
}
.serviceTab .el-tabs__item{
  height: 48px;
  line-height: 48px;
}
.serviceTab .el-tabs__nav-wrap::after{
  display: none;
}
.serviceTab .el-tabs__active-bar{/* 禁止tab指示条滑动 */
  transition: none;
}
.subjectList{
  border-top: none;
  border-bottom: none;
}
.subjectList .el-collapse-item{
  border-bottom: 1px solid #EBEEF5;
}
.subjectList .el-collapse-item__content{
  padding-bottom:0;
  padding-left: 20px;
}
.subjectItem{
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #EBEEF5;
  display: flex;
  cursor: pointer;
}
.subjectItem:last-child{
  border-bottom: none;
}
.subjectItem:last-child:first-child{
  border-bottom: 1px solid #EBEEF5;
}
.subjectItem .subjectItem-icon {
  padding-top: 6px;
  padding-right: 5px;
}
.subjectItem .subjectItem-left {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}
.subjectItem .subjectItem-left p.title{
  color: #171717;
}

.subjectItem .subjectItem-left p{
  margin: 0;
  height: 30px;
  line-height: 30px;
  color: #bfbfbf;
}
.subjectItem .subjectItem-right {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link{
  color: #5373C8;
}

.service-table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 22px;
  border-left: 1px solid #e3e5e7;
  border-bottom: 1px solid #e3e5e7;
  border-collapse: collapse;
  border-spacing: 0;
}
.service-table td,.service-table th{
    padding: 6px 8px;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid #e3e5e7;
}
.service-table th{
  width: 145px;
  height: 40px;
  vertical-align: middle;
  font-weight: normal;
  background-color: #f3f5f9;
  border-right: 1px solid #e3e5e7;
  font-size: 14px;
  color: rgba(0,0,0,0.85);
}
.service-table td{
  width: 410px;
  vertical-align: middle;
  background-color: #ffffff;
  border-right: 1px solid #e3e5e7;
  font-size: 14px;
  color: rgba(0,0,0,0.85);
}

.s-selectHasLabel .el-input__inner{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}